.peek-information-section {
  /*
      Contains the Information Section classes
  */

  padding-left: $general_padding;
  padding-right: $general_padding;

  .information-section-title {
    /*
        Contains the title attributes unique to the peek-information-section class
    */
    padding-bottom: $general_padding;
  }

  .information-section-icon {
    /*
        Contains the icon attributes unique to the peek-information-section class
    */

    @include inner-shadow(0.35);
    padding: 20px;
    max-width: 100px;
    height: auto;
    border-radius: $general_border_radius;
    margin-top: $general_padding*2;
    margin-bottom: $general_padding*2;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }

  .information-section-btn {
    /*
        Contains the button attributes unique to the peek-information-section class
    */
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2em;
    background-color: darken($grey, 20%);
  }

}
