.peek-tables-section{
/* Contains the Tables Section classes */

    .table{
    /* Contains the table attributes unique to the Tables Section */

        .tr{
        /* Contains the table row attributes unique to the .table class */

        }
        .th{
        /* Contains the table head cell attributes unique to the .table class */

        }
        .td{
        /* Contains the table row cell attributes unique to the .table class */

        }
    }
}
