// Title Bar
.peek-title-bar {
  /* Contains the Title Bar classes */
  //$section_font_size: 0.8em;
  width: 100%;
  z-index: 999;
  height: $navigation_header_height; // main header height being set
  position: fixed;

}

.title-bar-btn {
  /* Contains the button attributes unique to the Title Bar */
  height: $navigation_header_height; //setting height to default header naviation height
  padding: 0px 10px;

}

.title-bar-title {
  /* Contains the title attributes unique to the Title Bar */
  line-height: $navigation_header_height;
  padding-left: $general_padding;
  padding-right: $general_padding;

}

.peek-mobile-page-contents {
  /* Contains the padding to stop the screens being covered by the title-bar */
  padding-top: $navigation_header_height;
  padding-bottom: $navigation_header_height + $general_padding;
}