//colours
$grey: #cccccc;
$white: #ffffff;
$black: #000000;
$brand: #28aae1;
$brand_compliment: darken(#28aae1, 10%);
$green: #dff0d8;
$red: #f2dede;

//general
$general_font_size: 16px;
$general_background_color: lighten($grey, 18%);
$general_padding: 15px;
$general_border_radius: 4px;
$general_padding_nav_bar: 64px;

//colour

//fonts
$fonts_special: 'Play', sans-serif;
$font_transform: uppercase;
$font_colour_default: darken($grey, 50%);

//header
$navigation_header_height: 40px;
