@import '_variables';
@import '_mixins';
@import 'layout.web/_bootstrap_adjustments.web';

//peek screens
@import 'layout.web/_title_bar.web';
@import 'layout.web/_home_screen.web';
@import 'layout.web/_footer.web';

//plugin screens
@import 'layout.web/_plugin_inbox.web';
@import 'layout.web/_plugin_chat.web';

//generic sections
@import 'layout.web/_navigation_section.web';
@import 'layout.web/_information_section.web';
@import 'layout.web/_details_section.web';
@import 'layout.web/_tables_section.web';

body,
html{
  height: 100%;
}

.image{
  max-width: 100%;
}

.hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

*:focus {outline:none!important;}

.navigation-information{
  //border-bottom: 1px solid darken($grey,20%);
  margin-bottom: $general_padding;

  .form-group{
    padding-top: 0px;
    margin-bottom: 0px;
  }

}

.form-group{
  margin-bottom: 0px;
  padding-bottom: $general_padding;
  padding-top: $general_padding;
  //color: $black;
}
