//Peek navigation section
.peek-nav-section {
  /* Contains the Navigation Section attributes */
  border-bottom: 1px solid $grey;
  overflow: hidden;
  background: white;

  .nav-section-btn {
    /* Contains the Button attributes unique to the Navigation Section */
    background-color: darken($grey, 20%);
    border-right: 1px solid darken($grey, 35%) !important;
    border-radius: 0px !important;
    border-left: 0px;
    float: left;
    @include button-settings;
    min-width: 40px;

    &:last-child {
      border-right: 0px !important;
      border-radius: 0px $general_border_radius $general_border_radius 0px !important;
    }

    &:first-child {
      border-radius: $general_border_radius 0px 0px $general_border_radius !important;
    }
  }
}

//navigation tabs
.nav {

  $section_font_size: 0.8em;

  &.nav-tabs {
    border-bottom: 0px solid $brand;

    & > li {

      &.active {
        & > a {
          border-radius: 0px 0px 0 0;
          font-size: $section_font_size;
          border-radius: 0px;
        }
      }

      & > a {
        font-family: $fonts_special;
        text-transform: $font_transform;
        color: lighten($font_colour_default, 10%);
        font-size: $section_font_size;
        border: 0px;
        border-radius: 0px 0px 0 0;
        background-color: #eee;
      }
    }
  }
}
