.peek-tables-section {
  /* Contains the Tables Section classes */

  .table {
    /* Contains the table attributes unique to the Tables Section */

    color: $black;
    .tr {
      /* Contains the table row attributes unique to the .table class */

    }
    .th {
      /* Contains the table head cell attributes unique to the .table class */
      background-color: darken($grey, 20%);
      color: $white;
      font-family: $fonts_special;
      border-bottom: 0px;
      font-size: 1.2em;

    }
    .td {
      /* Contains the table row cell attributes unique to the .table class */

    }
  }
}
