<StackLayout>
    <StackLayout class="peek-home-screen-background">
        <Label class="h1" text="testing"></Label>
        <Label class="fa" text="\uf293"></Label>
        <Label class="fa" text="{{'fa-bluetooth' | fonticon}}"></Label>
    </StackLayout>

    <router-outlet></router-outlet>
</StackLayout>
